DB_HOST=127.0.0.1
DB_NAME=your_db_name
DB_USER=your_db_username
DB_PASS=your_db_password
DB_CHARSET=utf8mb4

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587 or 465 if ssl
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_ENCRYPTION=tls or ssl
MAIL_FROM_ADDRESS=your_email@gmail.com
MAIL_FROM=your_email@gmail.com
MAIL_FROM_NAME=PennyWise
